<%- include("header") -%> 

    <div class="box" id="heading">
        <h1 ><%= listTitle %></h1>
    </div>
 <div class="box">
        <div class="item">
            <% for (var i = 0; i<newItemsList.length; i++){ %>
                <input type="checkbox">
                <p><%= newItemsList[i] %></p>
            <% } %> 
        </div>

        <form class="item" action="/" method="POST">
            <input type="text" name="item" placeholder="New item" autocomplete="off">
            <button type="submit"name="list" value="<%= listTitle %>">+</button>
 </div>
</form>

<%- include("footer") -%> 